.percent0{
    width:0%;
}
.percent10{
    width:10%;
}
.percent20{
    width:20%;
}
.percent30{
    width:30%;
}
.percent40{
    width:40%;
}
.percent50{
    width:50%;
}
.percent60{
    width:60%;
}
.percent70{
    width:70%;
}
.percent80{
    width:80%;
}
.percent90{
    width:90%;
}
.percent100{
    width:100%;
}

