*{
    margin: 0;
    padding: 0;           
}
body{
    background-color:gray;
}
ul{
    list-style:none;
}
.main-column{
    background-color:white;
    margin:auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width:620px;
    font-family: Arial;
    height:877px;
    display:flex;
    flex-direction:column;
    justify-content:space-around; 
}

.content{
    display:flex;
    justify-content:space-around; 
}

.left-column{

}
.right-column{
    margin-right:15px;
}
.bound-line{
    background-color:#6c4278;
    background: linear-gradient(to right, #8e649A, white, #8e649A);
    height:20px;
}

#nameSurname{
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Arial;
}
#name{
    font-size:55px;
    font-weight:bold;
    line-height:47px;
}
#surname{
    font-size:32px;
    font-weight:bold;
}

#webDesigner{
    margin-left: 16px;
    margin-bottom:15px;
    text-transform: uppercase;
    font-family:'Arial';
    color:#6c4278;
}
#webAndGraphic{
    font-size:20px;
}
#designer{
    font-size:31px;
}
.info-block{
    margin-top:30px; 
    margin-bottom:5px;
}
.info-header{
    background-color:white;
    padding:5px;
    margin-left:5px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight:bold;
    font-size:13px;
}
.info-header2{
    text-transform: uppercase;
    font-family: Arial;
    font-weight:bold;
    font-size:13px;
}
.line{
    position:absolute;
    float:left;
    background-color:#5e1d5f;
    display: inline-block;
    min-width:5px;
    min-height:22px; 
}
.long-line{
    margin-top:2px;
    position:absolute;
    background-color:#532853;
    display: inline-block;
    min-width:2px;
    height:81%;
}
.small-text{
    font-size:6px;
    padding-left: 20px;
    max-width:210px;
    font-weight:600;
}
.quote{
    height:initial;
    font-family: Georgia, serif;
    font-size: 40px;
    color:#6c4278;
    max-height:20px;           
}

.right-side{
    float:right;
    margin-top:-25px;
    margin-bottom:25px;
}
.left-side{
    margin-left: 5px;
}
.arrow-right {
    margin:1px;
    float:left;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #532853;
}

.years{
    font-size:7px;
    font-weight:bold;
}

.table{
    display:table;
}

.row{
    display: table-row;   
}

.education-container{
    position:relative;
}

.year-cell{           
    display: table-cell;
    width:70px;  
}

.year-info-cell{
    display: table-cell;    
}

.degree{
    padding-top:2px;
    color:#49224e;
    font-size:10px;
    font-weight:bold;
    text-transform:uppercase;
}
.school-name{
    font-size:9px;
    font-weight:bold;
}
.small-info{
    font-size:7px;
    font-weight:bold;
    margin-bottom: 8px;
}
.color-text{
    color:#6c4278;
}
.medium-text{
    font-size:7px;
    padding-top:1px;
    font-weight:600;
}
.reason{
    margin-left:15px;
    margin-bottom: 20px;
}
.big-text{
    text-transform:uppercase;
    margin-bottom:6px;
}
.cell{    
    display: table-cell;
    padding:5px;
    padding-left:0px;
}
.circle{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #6c4278;
}
.circle-title{
    color:#6c4278;
    text-transform: uppercase;
    font-weight:700;
    font-size:9px;
}
.circle-info{
    font-size:9px;
    font-weight:700;
}
.contacts-cell{
    display: table-cell;
    vertical-align:middle;
}
.available-block{
    padding-left:5px;
    margin-top:20px;
}
.circle-transparent{
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color:RGBA(156,101,156,.5);
    position: absolute
}

.circle-transparent-right{
    margin-left:35%;
}
.computer{
    width: 16%;
    height: 16%;
    background-color:transparent;
    border-width:4px;
    border-color:white;
    border-style:solid;
    position: absolute;
    top:33%;
    left:14%;
}
.computer-bottom{
    width: 12%;
    height: 10%;
    background-color:white;
    position: absolute;
    top:59%;
    left:19%;
}

.smile-face{
    width: 18%;
    height: 36%;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 32%;
    left: 52%
}
.smile-eye{
    width: 2%;
    height: 4%;
    border-radius: 50%;
    background: RGB(206,178,206);   
    position: absolute;
    top: 44%;
    
}
.smile-left-eye{
    left: 57%;
}
.smile-right-eye{
    left: 63%;
}
.smile-smile{
    width: 6%;
    height: 12%;
    background-color: RGB(206,178,206);  
    border-radius: 100%;
    clip: rect(calc(50%), 100%, 100%, 0);
    left: 58%;
    top: 48%;
    position: absolute;
}
.happiness-container{
    position: absolute;    
    width:252px;
    min-height:inherit;
    text-align:center;
}
.dotted-line{
    width:50%;
    min-height:140px;
    border-style:none;
    border-right-style: dotted;
    border-width: 1px;
    border-color:#393939;
    position: absolute
}
.circles-container{
    width:150px;
    height:75px;
    left:62px;
    top:30px;
    position:relative;
}
.happiness-left-col{
    height:inherit;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
    height:inherit;
}
.happiness-right-col{
    height:inherit;
    display:flex;
    flex-direction:column;
    text-align:right;
    justify-content:space-between;
    align-items:flex-end;
    height:inherit;
}
.balance-title{
    font-weight:bold;
    font-size:12px;
    color: #61007d;
    text-transform:uppercase;
}
.balance-text{
    font-weight:500;
    font-size:9px;
}
.balance-container{
    min-height:150px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:stretch;
}
.balance-cell-left{
    width:100px;  
    padding:0px; 
    vertical-align: middle;
}
.balance-cell-right{
    width:150px;   
}
.balance-line-container{
    position:relative;
    padding:2px; 
}
.balance-line{
    height:12px;
    background: linear-gradient(to right, #8e649A, white, #8e649A);
    border-right-style: solid;
    border-color:RGB(206,178,206);
    border-width:0;
}
.balance-line-1{
    border-width:10px;
}
.balance-line-2{
    border-width:40px;
}
.balance-line-3{
    border-width:4px;
}
.balance-line-4{
    border-width:9px;
}
.balance-line-5{
    border-width:15px;
}


.histogram-container{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
}
.histogram-percent{
    font-size:10px;
    margin-left:8px;
    font-weight:500;
}
.histogram-graphic{
    margin-top:-30px;
    margin-left:30px;
    border-color:black;
    border-width:2px;
    border-left-style:solid;
    border-top-style:solid;
    padding-left:8px;
    min-height:200px;
    font-size:8px;
    font-weight:bold;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.histogram-line-print{  
    margin-top:10px;
    padding:4px;
    width:150px;  
    background: linear-gradient(to bottom, #8e649A, white, #8e649A);
}
.histogram-line-web{  
    margin-top:10px;
    padding:4px;
    width:150px;  
    color: white;
    background: linear-gradient(to bottom, #61007d, #8e649A, #61007d);
}
.histogram-line-1{
    width:130px;  
}
.histogram-line-2{
    width:100px;   
}
.histogram-line-3{
    width:100px;   
}
.histogram-line-4{
    width:100px;  
}
.histogram-line-5{
    width:100px;  
}
.histogram-line-6{
    width:100px;  
}
.histogram-line-7{
    width:100px;  
}
