*{
    margin: 0;
    padding: 0;           
}
html{
    position:relative;
    min-height:100%;
}
body{
    background-color:gray;
}
ul{
    list-style:none;
}
.main-column{
    background-color:white;
    margin:auto;
    padding-top: 60px;
    padding-bottom: 15px;
    width:980px;
    font-family: Arial;
    position:relative;
    min-height:100%;
}

.content{
    overflow:hidden;
    padding-bottom:40px;
}

.left-column{
    float:left;
    margin-left:5%;
    width:40%;
}
.right-column{
    float:right;
    margin-right:5%;
    width:40%;
}
.bound-line{
    background-color:#6c4278;
    background: linear-gradient(to right, #8e649A, white, #8e649A);
    min-height:40px;
    top:20px;
    width:100%;
    position:absolute;
    z-index:2;
}

#nameSurname{
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Arial;
}
#name{
    font-size:88px;
    font-weight:bold;
    line-height:70px;
}
#surname{
    font-size:51px;
    font-weight:bold;
}

#webDesigner{
    margin-left: 25px;
    margin-bottom:15px;
    text-transform: uppercase;
    font-family:'Arial';
    color:#6c4278;
}
#webAndGraphic{
    font-size:31px;
}
#designer{
    font-size:49px;
}
.info-block{
    margin-top:40px; 
    margin-bottom:10px;
    background-color:white;
    padding:5px;
    padding-left:10px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight:bold;
    font-size:20px;
    border-left:solid #5e1d5f 7px;
    text-overflow:ellipsis;
    overflow: hidden;
}
.info-header{
    
}
.info-header2{
    text-transform: uppercase;
    font-family: Arial;
    font-weight:bold;
    font-size:21px;
}

.small-text:before{
    display:block;
    content:open-quote;
    font-family: Georgia, serif;
    font-size: 50px;
    color:#6c4278;
    margin-bottom:-15px;
    margin-left:-20px;
}
.small-text{
    font-size:10px;
    margin-left: 30px;
    max-width:90%;
    font-weight:600;
}
.small-text:after{
    content:close-quote;
    font-family: Georgia, serif;
    font-size: 50px;
    color:#6c4278;
    float:right;
    display:block;
    margin-right:-20px;
    margin-top:10px;
}

.table{
    display:table;
}

.row{
    display: table-row;   
}

.education-container{
    margin-left:5px;
}

.education-container li{
    position:relative;
}

.education-container li:last-child .line{
    min-width:0px;
}

.year-cell{ 
    position:relative;
    display:inline-block;   
    vertical-align:top;     
    width:100px;  
    font-size:12px;
    font-weight:bold; 
    margin-left:20px;
}

.education-container li .year-cell:before{
    position:absolute;
    margin-left:-24px;
    margin-top:-2px;
    content:" ";
    display:block;
    float:left;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid #532853;
}

.education-container li:not(:last-child){
    border-left: #532853 4px solid;
}
.education-container li:last-child{
    border-left: transparent 4px solid;
}

.year-info-cell{
    display: inline-block;    
}

.degree{
    padding-top:2px;
    color:#49224e;
    font-size:16px;
    font-weight:600;
    text-transform:uppercase;
}
.school-name{
    font-size:15px;
    font-weight:bold;
}
.small-info{
    font-size:10px;
    font-weight:bold;
    margin-bottom: 8px;
}
.color-text{
    color:#6c4278;
}
.medium-text{
    font-size:13px;
    font-weight:600;
}
.reason{
    margin-left:30px;
    margin-bottom: 20px;
}
.big-text{
    text-transform:uppercase;
    margin-bottom:6px;
    font-size:24px;
}
.cell{    
    display: table-cell;
    padding:5px;
    padding-left:0px;
}
.circle{
    
}
.circle-title{
    color:#6c4278;
    text-transform: uppercase;
    font-weight:700;
    font-size:16px;
}
.input{
    width:100%;
    display:block;
    font-size:16px;
    font-weight:700;
    border:none;
    background-color:transparent;
    margin-bottom:6px;
}
.contact{
    vertical-align:middle;
    border:none;
}
.contact-container{
    display:inline-block;
    width:80%;
}
.contact:before{
    content:" ";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #6c4278;
    display:block;
    float:left;
    margin-right:3px;
    margin-top:5px;
}

.available-block{
    padding-left:5px;
    margin-top:20px;
}
.circle-transparent{
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color:RGBA(156,101,156,.5);
    position: absolute
}

.circle-transparent-right{
    margin-left:35%;
}

.balance-cont-title{
    overflow:hidden;
}


.balance-cont-title :nth-child(n){
    float:left;
    width:33%;
}
.balance-cont-title :nth-child(2){
    text-align:center;
}
.balance-cont-title :last-child{
    text-align:end;
}


.computer{
    width: 16%;
    height: 16%;
    background-color:transparent;
    border-width:6px;
    border-color:white;
    border-style:solid;
    position: absolute;
    top:33%;
    left:14%;
}
.computer-bottom{
    width: 12%;
    height: 10%;
    background-color:white;
    position: absolute;
    top:59%;
    left:19%;
}

.smile-face{
    width: 18%;
    height: 36%;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 32%;
    left: 52%
}
.smile-eye{
    width: 2%;
    height: 4%;
    border-radius: 50%;
    background: RGB(206,178,206);   
    position: absolute;
    top: 44%;
    
}
.smile-left-eye{
    left: 57%;
}
.smile-right-eye{
    left: 63%;
}
.smile-smile{
    width: 14px;  
    height: 7px;  
    background-color: RGB(206,178,206);    
    border-bottom-left-radius: 10px;  
    border-bottom-right-radius: 10px;  
    border: 1px solid RGB(206,178,206);   
    border-bottom: 0;  
    margin-left: 114px;  
    margin-top: 51px;  
    position: absolute; 
}

.happiness-container{
    position: absolute;    
    width:100%;
    min-height:inherit;
    text-align:center;
    overflow:hidden;
}
.dotted-line{
    width:50%;
    height:100%;
    margin:0;
    border-style:none;
    border-right-style: dotted;
    border-width: 1px;
    border-color:#393939;
    position: absolute
}
.circles-container{
    width:200px;
    height:100px;
    left:107px;
    top:30px;
    position:relative;
}
.happiness-left-col{
    float:left;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
    min-height:inherit;
    max-width:50%;
}

.happiness-right-col{
    float:right;
    height:inherit;
    display:flex;
    flex-direction:column;
    text-align:right;
    justify-content:space-between;
    align-items:flex-end;
    min-height:inherit;
    max-width:50%;
}

.balance-title{
    font-weight:bold;
    font-size:15px;
    color: #61007d;
    text-transform:uppercase;
}

.balance-text{
    font-weight:600;
    font-size:14px;
}

.balance-container{
    min-height:230px;
    position:relative;
}
.balance-col-container{
    min-height:230px;
    overflow:hidden;
    flex-direction:row;
    justify-content:space-between;
    align-items:stretch;
}

.skills-container{
    font-size:11px;
    width:calc(100% - 10px);
}
.skills-column{
    width:50% ;
    display:inline-block;  
}

.skills-row{
    width:100%   
}

.skills-text{
    font-weight:600;
    font-size:14px;
    height:16px;
    margin-bottom:11px;
    float:left;
    width:50%;
}

.balance-line{
    width:auto;
    height:16px;
    background: linear-gradient(to right, #8e649A, white, #8e649A);
    border-right-style: solid;
    border-color:RGB(206,178,206);
    border-width:0;
    margin-bottom:11px;
}
.balance-line-1{
    border-width:10px;
}
.balance-line-2{
    border-width:40px;
}
.balance-line-3{
    border-width:4px;
}
.balance-line-4{
    border-width:9px;
}
.balance-line-5{
    border-width:15px;
}

.histogram-percent{
    font-size:15px;
    margin-top:8px;
    margin-left:8px;
    font-weight:500;
}
.histogram-graphic{
    position:absolute;
    margin-top:-50px;
    margin-left:90px;
    border-color:black;
    border-width:4px;
    border-left-style:solid;
    border-top-style:solid;
    padding-left:8px;
    min-height:300px;
    min-width:220px;
    padding-right:25px;
    font-size:8px;
    font-weight:bold;
    transform-origin:0,0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.histogram-line-print{ 
    height:18px; 
    margin-top:12px;
    padding:8px;
    width:100%;  
    font-size:15px;
    background: linear-gradient(to bottom, #8e649A, white, #8e649A);
}
.histogram-line-web{ 
    height:18px;  
    margin-top:12px;
    padding:8px;
    width:100%;  
    color: white;
    font-size:15px;
    background: linear-gradient(to bottom, #61007d, #8e649A, #61007d);
}
.histogram-line-1{
    width:80%;  
}
.histogram-line-2{
    width:90%;   
}
.histogram-line-3{
    width:100%;   
}
.histogram-line-4{
    width:55%;  
}
.histogram-line-5{
    width:92%;  
}
.histogram-line-6{
    width:86%;  
}
.histogram-line-7{
    width:45%;  
}

.legend{
    margin-top:250px;
    font-weight:bold;
    font-size:14px;
    margin-bottom:20px;
}

.print-legend{
    display:inline-block;   
    margin-left:100px;
}

.print-legend:before,
.web-legend:before{
    content:" ";
    display:inline-block;
    width:25px;
    height:25px;
    background-color:black;
    margin-right:8px;
}

.web-legend{
    display:inline-block;
    font-weight:bold;
    margin-left:10px;
}

.print-legend:before{
    background: linear-gradient(to right, #8e649A, white, #8e649A);
}

.web-legend:before{
    background: linear-gradient(to right, #61007d, #8e649A, #61007d);
}
.block{
    margin-left:10px;
}
footer{
   background-color:#6c4278;
    background: linear-gradient(to right, #8e649A, white, #8e649A);
    min-height:40px;
    bottom:20px;
    width:100%;
    position:absolute;
    z-index:2;
    text-align: center;
    color:gray;
    font-family:Calibri;
    font-size:20px;
    display:table-cell;
    vertical-align:middle;
}
.link-text{
    font-size:25px;
}